<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>4</TotalTime><Application>LibreOffice/5.1.6.2$Windows_X86_64 LibreOffice_project/07ac168c60a517dba0f0d7bc7540f5afa45f0909</Application></Properties>